.estudiantes{overflow:hidden !important}.estudiantes .font-size-checkbox-all{font-size:.9rem}.estudiantes .hidden{display:block !important}@media (max-width:400px){.estudiantes .hidden{display:none !important}}
