.modal-crear-examen .modal-content{width:800px}.modal-copiar-examen .modal-content{width:400px}.q-popover-edit{margin:0;padding:0}.q-popover-edit .q-if-outlined{margin:0}.modal-cabecera .modal-content{width:800px}
