.sie-select-general{padding:0 0 8px 0 !important;border-bottom:none}
.sie-modal-adjuntos .modal-content{min-width:600px !important;max-width:600px !important;min-height:270px !important;max-height:570px !important}@media (max-width:600px){.sie-modal-adjuntos .modal-content{min-width:0 !important;max-width:100vw !important;min-height:100vh !important;max-height:100vh !important}}

