.contactos .q-tabs .q-tabs-panes{overflow-y:auto;overflow-x:hidden}.contactos .font-size-checkbox-all{font-size:.9rem}.contactos .hidden{display:block !important}@media (max-width:400px){.contactos .hidden{display:none !important}}
