



.headerTable{background:#f5f7f7;border-top:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-left:1px solid #c0c0c0;min-height:33px}.fix-tab-height{height:calc(100vh - 210px)}.text-h6{font-size:1.25rem;font-weight:500;line-height:2rem;letter-spacing:.0125em}
