
.modal-registro .modal-content{width:600px;height:400px}.modal-registro .sie-upload{margin:0 !important}.modal-registro-bloque .modal-content{width:700px;height:615px}.modal-registro-bloque .sie-upload{margin:0 !important}.responsive{height:95% !important}.q-download-file__modal .modal-content{width:70%;min-height:100%}
