.overflow-x-hidden{overflow-x:hidden}
.overflow-x-hidden{overflow-x:hidden}
.overflow-x-hidden{overflow-x:hidden}
.overflow-x-hidden{overflow-x:hidden}
.overflow-x-hidden{overflow-x:hidden}
.fix-tab-height-modal{height:calc(100vh - 350px) !important}.q-card-subtitle .q-icon,.q-card-title-extra .q-icon{font-size:14px}.text-h6{font-size:1.25rem;font-weight:500;line-height:2rem;letter-spacing:.0125em}.txtbanco textArea{font-family:Lucida Console;outline:none;border:none;resize:none;field-sizing:content;overflow-x:auto;overflow-y:auto}.text-h5{font-size:1rem;font-weight:500;line-height:2rem;letter-spacing:.0125em;color:#808080;padding:.5rem 1rem}.texthelper{font-size:.9rem;color:#808080}
