
.border-field{border:1px solid #000 !important;border:1px solid #000 !important;border-radius:3px}.leyenda{font-size:.8rem}.msj-error{color:var(--q-color-negative) !important;color:#51d0a6;font-size:11px}.modal-especial .modal-content{width:20.6cm !important;overflow-x:scroll}

