.custom-selected{background-color:#51d0a6;color:#fff !important}.border-th{background-color:#562598 !important;background-color:var(--q-color-primary) !important;color:#fff !important}


.custom-selected{background-color:#51d0a6;color:#fff !important}.border-th{background-color:#562598 !important;background-color:var(--q-color-primary) !important;color:#fff !important}
.tabla-tamano{width:350px !important;height:100vh !important}@media (max-width:450px){}
.border-field{border:1px solid #000 !important;border:1px solid #000 !important;border-radius:3px}.leyenda{font-size:.8rem}
.border-field{border:1px solid #000 !important;border:1px solid #000 !important;border-radius:3px}.leyenda{font-size:.8rem}
.custom-selected{background:#562598;color:#fff;font-weight:bold}
