.modal-ex-alumno .modal-content{max-width:100vw !important;min-height:85vh !important}.q-label-titulo{padding:4px 2px;margin:0 4px 4px 2px;border-bottom:1px solid #000;font-weight:bold;text-transform:uppercase}
