.modal-copia-conclusiones .modal-content{min-width:500px !important;min-height:350px !important;max-width:500px !important}@media (max-width:400px){.modal-copia-conclusiones .modal-content{min-width:100vw !important;max-width:100vw !important;min-height:100vh !important;max-height:100vh !important}}

