
.modalConducta{width:50%}




.academico-registro-ficha-psicologia .border-field{border:1px solid #bdbdbd !important;border-radius:3px}.academico-registro-ficha-psicologia .leyenda{font-size:.8rem;font-weight:bold}.academico-registro-ficha-psicologia .q-tab__label{font-size:12px}
