.medico-pesotalla .sie-table_alto[data-v-9350d842]{height:calc(100vh - 213.39px)}@media (max-width:767px){.medico-pesotalla .sie-table_alto[data-v-9350d842]{height:calc(100vh - 271.17px)}}.border-none[data-v-9350d842]{border:0}
