




h3{font-size:1.3rem;margin:.5rem 0;padding:0}





h3{font-size:1.3rem;margin:.5rem 0;padding:0;display:block;width:100%}.select{width:98%;padding:0;margin:.5rem 1rem}.fix-tab-height{height:400px;width:100%}.tabs{margin:0 auto;display:block}.tab-menu{display:-webkit-box;display:-ms-flexbox;display:flex;width:400px;margin:0 auto}.tab-menu-item{width:50%;cursor:pointer;text-align:center;margin-bottom:2rem}
.tab{cursor:pointer}





.height-table-referencias{height:100px}.width-talon-referencia{width:300px}.container-flex-talonReferencia{display:-webkit-box;display:-ms-flexbox;display:flex}.flex-item-talonReferencia{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.separator-table-refereces{margin-left:.5rem}.width-table-referencias{width:100%}
.flex-tables{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:700px}





.headerTable{background:#f5f7f7;border-top:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-left:1px solid #c0c0c0;min-height:33px}.fix-tab-height{height:calc(100vh - 210px)}.text-h6{font-size:1.25rem;font-weight:500;line-height:2rem;letter-spacing:.0125em}.chk-h-sm{height:25px}.row.q-mt-sm{margin-top:8px !important}
