.style-button{padding:10px;margin:6px 6px 6px 0}.borde{border-color:#000;border-style:solid}.text-column-style{overflow:hidden;text-align:center}@media (max-width:500px){.text-column-style{max-width:200px}}
