.examen-monitoreado .link_snowl{color:#fff;background-color:var(--q-color-secondary);padding:20px;border-radius:8px;margin:20px;text-decoration:none}.examen-monitoreado .link_snowl:hover{background-color:var(--q-color-primary)}
