.exalumnos-promociones .q-if-outlined{margin:0}.exalumnos-promociones .q-if-outlined:before{border-color:#c2c2c2}.modal-promociones .modal-content{max-width:100vw !important;min-height:85vh !important}
