


.tabs{height:50px;margin-right:16px;margin-left:16px}.tabs-container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-left:16px;max-width:65%;width:100%}.subtitulo{padding:0 16px;font-size:16px;font-weight:bold;color:#333;text-align:center;text-transform:uppercase}.div-custom{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:1em}
