.medico--datos-medicos-alumno .sie-table_alto[data-v-6827bec8]{height:calc(100vh - 213.39px)}@media (max-width:767px){.medico--datos-medicos-alumno .sie-table_alto[data-v-6827bec8]{height:calc(100vh - 271.39px)}}
