.intranet--becas--dashboard--periodos .htable{height:calc(100vh - 188px)}.intranet--becas--dashboard--periodos--modal .modal-content{width:400px}
.intranet-becas--dashboard--solicitudes .htable{height:calc(100vh - 188px)}
.intranet--becas--dashboard--configuracion--mensajes--modal .modal-content{width:500px}
.intranet-becas--dashboard--configuracion--documentos .htable{height:calc(100vh - 223px)}
.intranet-becas--dashboard--configuracion--requisitos .htable{height:calc(100vh - 223px)}
.intranet--beca--dashboard--configuracion--fichatecnica .htable{height:calc(100vh - 223px)}
.modal-destinatarios .modal-content{width:450px !important}
.intranet--becas--dashboard--informes .htable{height:calc(100vh - 188px)}
