
.modal-encuesta .editor,.modal-encuesta .modal-content{min-width:450px !important;max-width:450px !important;min-height:0 !important}@media (max-width:750px){.modal-encuesta .editor,.modal-encuesta .modal-content{min-width:0 !important;max-width:100vw !important;min-height:100vh !important;max-height:100vh !important}}
