.exalumnos-inscripciones .q-if-outlined{margin:0}.exalumnos-inscripciones .q-if-outlined:before{border-color:#c2c2c2}.modal-exalumno .modal-content{max-width:100vw !important;min-height:85vh !important}
