.fix-tab-height{height:calc(100vh - 350px) !important}.q-card-subtitle .q-icon,.q-card-title-extra .q-icon{font-size:14px}.text-h6{font-size:1.25rem;font-weight:500;line-height:2rem;letter-spacing:.0125em}
