
.form-contacto-container{width:350px}

.tabs{height:50px;margin-right:16px;margin-left:16px}.tabs-container{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-left:16px;max-width:65%;width:100%}
