.reprocesar-medicamentos .sie-table_alto[data-v-47d18149]{height:calc(100vh - 177.39px)}@media (max-width:767px){.reprocesar-medicamentos .sie-table_alto[data-v-47d18149]{height:calc(100vh - 220.17px)}}
