.ficha_atencion--consulta .sie-table_alto[data-v-a0fe17b8]{height:calc(100vh - 213.39px)}@media (max-width:767px){.ficha_atencion--consulta .sie-table_alto[data-v-a0fe17b8]{height:calc(100vh - 341.78px)}}
