
.configuracionNotas .q-tabs .q-tabs-panes{overflow-y:auto;overflow-x:hidden}.configuracionNotas .q-table-container{border-bottom:1px solid rgba(0,0,0,0.12);border-top:0;-webkit-box-shadow:none;box-shadow:none;border-radius:0;border-left:1px solid rgba(0,0,0,0.12);border-right:1px solid rgba(0,0,0,0.12)}
