






.registro-informe-psicologico .foto-alumno{background:transparent !important;border:1px dashed #bdbdbd !important}.registro-informe-psicologico .q-if-outlined{margin:0 !important}.titulo-seccion{border-bottom:1px solid rgba(0,0,0,0.1);font-weight:700;margin-bottom:10px;padding:0 0 10px 0}.reportes-informe-psico .modal-content{width:500px}
