.exalumnos-acceso-usuario .q-if-outlined{margin:0}.exalumnos-acceso-usuario .q-if-outlined:before{border-color:#c2c2c2}.modal-acceso-usuario .modal-content{min-width:50vw !important;min-height:65vh !important}
