



.doc-note{border-width:0 5px;background:#c1f4cd;border-color:#21ba45;border-style:solid;border-radius:3px;padding:5px}.modal-categoria .modal-content{max-width:40vw}


.pb-50{padding-bottom:50px}
